* {box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    margin: 0px;
    padding: 0px;
    
}

body{
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}



/*
FONTS AND COLORS
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'PT Sans', sans-serif;
#4682B4
*/
p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    size: 1rem;
    letter-spacing: 2px;
    line-height: 1.5rem;
}


a{
    color: #4682B4;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
}

a:hover{
    color: #91bcdf;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: none;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.17rem;
}

h4{
    font-size: 1rem;
}

h5{
    font-size: .83rem;
}

h6{
    font-size: .67rem;
}


.smicons a{
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin: 1rem;
}

.smicons a::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.smicons{
    height: 3rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(102,0,0);
    background: linear-gradient(180deg, rgba(102,0,0,1) 0%, rgba(153,0,0,1) 35%, rgba(102,0,0,1) 100%);
    margin: 5px;
    border-radius: 30px;
}

.smicons svg{
    fill: #4267B2;
    transition: all .2s;
    width: 2rem;
    height: auto;
}


h1, h2, h3, h4, h5, h6{
    color: white;
}

.smicons svg:hover{
    fill: #00d4ff;
}

/*
Header and Navigation
*/

header{
    max-width: 1200px;
    height: 375px;
    border-style: solid;border-color: #aa0000;
    border-width: 0px 3px 3px 3px;
    display: flex;
}

.header{
    background-image: url('../images/herobg.jpg');
    height: 375px;
    max-width: 1200px;
    border: none;
    display: flex;
    border-style: solid;
    border-color: #aa0000;
    border-width: 0px 3px 3px 3px;
}

.logo{
    height: 147px;
    width: 190px;
    background-image: url('../images/logo.jpg');
    float: left;
    margin: 20px;
    z-index: 2;
}

.headquotes{
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 20px;
    width: 20%;
    height: 147px;
    margin-left: 0;
    opacity: 60%;
}

.headquotes h1{
    margin: 0px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-style: none;
}


/* Quotes Animation */

.headquotes h1:nth-child(1){
    text-align: left;
    animation: fadeFirst .5s ease-in forwards;
}

@keyframes fadeFirst{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.headquotes h1:nth-child(2){
    animation: fadeSecond 1s ease-in forwards;
}

@keyframes fadeSecond{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.headquotes h1:nth-child(3){
    text-align: right;
    animation: fadeThird 1.5s ease-in forwards;
}

@keyframes fadeThird{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Navigation*/

.mobnavcon{
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 1200px;
    text-align: right;
    position: fixed;
    
}

.nav{
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 1200px;
    text-align: right;
    position: fixed;
    z-index: 1000;
}

.nav ul{
    margin: 0px auto;
}

.nav ul li{
    display: inline;
}

.nav ul li a{
    color: white;
    text-decoration: none;
    padding: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    z-index: 0;
    transition: all 0.3s;
    opacity: .80;
}

.nav ul li a:hover{
    font-size: 1.1rem;
    opacity: 100;
}

.nav ul li a::after{
    content: "";
    background: rgb(34,0,0);
    background: linear-gradient(360deg, rgba(34,0,0,1) 0%, rgba(221,0,0,1) 89%, rgba(255,0,0,1) 97%);
    position: absolute;
    left: 0;
    top: 1rem;
    z-index: -1;
    width: 100%;
    height: 0px;
    transition: all .3s;
}

.nav ul li a:hover::after{
    height: 3rem;
}

.mobnavbtn{
        text-align: center;
        background-color: #bb0000;
        width: 10%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: 147px;
        position: fixed;
        display: none;
        cursor: pointer;
        z-index: 2;
}

/*Change navbar on scroll */
.navscrolled{
    background-color: rgba(0, 0, 0, .8);
}

/*
Content
*/

.content{
    text-align: left;
    width: 80%;
    margin: 0 auto;
    margin-top: -136px;
}

section{
    border: 1px solid #aa0000;
    background-color: rgba(0, 0, 0);
    border-width: 3px 3px 10px 3px;
    border-radius: 15px;
    margin-bottom: 40px;
}

/* Section fading effects */

.fade-in{
    opacity: 0;
    transition: opacity .5s ease-in;
}

.fade-in.appear{
    opacity: 1;
}


section p{
    margin: 2rem;
}

section img{
    max-width: 300px;
    margin: 20px; 
    margin-top: 0px;
}

.content section:nth-of-type(odd) img{
    float: right;
}

.content section:nth-of-type(even) img{
    float: left;
}


.sectionheader h1{
    padding-left: 3rem;
    padding-bottom: 1rem;
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-bottom: 2px solid #aa0000;
}

.sectionheader h1::after{
    content:'';
    width:200px;
    display: block;
    position: absolute;
    margin-top: 1rem;
    margin-left: -50px;
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 200px solid #aa0000;
    z-index: 0;
}

/*mobile arrows*/

.rArrow{
    width: 5px; 
    height:5px;
    border-top: 10px solid transparent;
    border-left: 20px solid white;
    border-bottom: 10px solid transparent;
    transition: all .5s;
    position: absolute;
    display: block;
    
}

.lArrow{
    width: 5px; 
    height:5px;
    border-top: 10px solid transparent;
    border-right: 20px solid white;
    border-bottom: 10px solid transparent;
    display: none;
    transition: all .5s;
    position: absolute;
    margin-right: 0%;
}



@media only screen and (max-width: 480px){

    .wrapper{
        max-width: 100%;
        overflow-x: hidden;
        position: relative;
        display: flex;
        flex-flow: column;
        padding: 0px;
    }

    .mobnavcon{
        margin-top: 147px;
        height: auto;
        position: fixed;
        left: 0;
        float: left;
        z-index: 2;
    }

    .header{
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 0px;
        border-width: 0px 0px 3px 0px;
        max-width: 100%;
    }

    .logo{
        margin: 0 auto;
    }

    .headquotes{
        position: absolute;
        margin: 0px auto;
        margin-top: 147px;
        display: block;
        width: 60%;
        border: 1px solid red;
        padding: 10px;
    }

    .headerquotes h1{
        display: block;
        text-align: center;
    }

    .mobnavbtn{
        display: flex;
        margin: 0px;
        z-index: 99;
    }
    
    .nav{
        background-color: #bb0000;
        text-align: left;
        display: block;
        transition: all .5s;
        margin-left: -200%;
        z-index: 0;
    }


    .nav ul li{
        display: block;
        padding: 20px;
    }


    

    .nav ul li a.hover{
        background-color: #660000;
    }

    .nav ul li a::after{
        display: none;
    }

    .header{
        background-image: none;
    }

    .smicons {
        display: none;
    }

    .content{
        margin-top: -80px;
        width: 100%;
        display: flex;
        flex-flow: column;
        padding: 0;
    }

    section{opacity: 1; width: 100%; padding: 0px;}


    

    section img{float: none;}

    section:nth-of-type(even) img{
        float:none !important;
        margin: 0px auto;
        width: 100%;
        height: auto;
        display: block;
        clear: right;
    }

    section:nth-of-type(odd) img{
        float:none !important;
        margin: 0px auto;
        width: 100%;
        height: auto;
        display: block;
        clear: right;
    }

    .fade-in{
        opacity: 1;
    }

}